<div class="form-create">
  <div class="form-create-content">
    <h2>ユーザー編集</h2>
    <%= form_with model: @end_user, url: end_user_path(@end_user), method: :patch do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.text_area :body, placeholder:"140字以内で自己紹介を記入してください" %>
      <%= f.submit "編集" %>
    <% end %>
    <%= link_to "退会する", confirm_unsubscribe_path(@end_user) %>
  </div>
</div>