<h1>マイページ編集</h1>
<%= form_with model: @end_user, url: end_user_path(@end_user), method: :patch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit "編集する" %>
<% end %>
<%= link_to "退会する", confirm_unsubscribe_path(@end_user) %>