<div class="follow-content">
  <h4 class="main-title">フォロー</h4>
  
  <% @end_users.each do |end_user| %>
    <div class="follow-list">
      <div class="follow-side">
        <div class="follow-profile">
          <%= link_to end_user_path(end_user) do %>
            <%= image_tag end_user.get_profile_image, size:"60x60" %>
            <%= end_user.name %>
          <% end %>
        </div>
        <div class="follow-count">
          <p><%= end_user.followings.count %> follow</p>
          <p><%= end_user.followers.count %> follower</p>
        </div>
      </div>
      <div class="follow-body">
        <% if end_user.body.present? %>
          <%= end_user.body %>
        <% else %>
          自己紹介文はありません
        <% end %>
      </div>
    </div>
  <% end %>
  
</div>