<h4 class="main-title">評価</h4>

  <% @end_users.each do |end_user| %>
    <div class="review-container">
      <div class="review-side">
        <%= image_tag end_user.get_profile_image, size:"60x60" %>
        <%= end_user.name %>
      </div>
      <div class="review-main">
        <div class="review-content">

         <span id="star-rate-<%= end_user.id %>"></span>
          <span><%= end_user.rate %>点</span>

          <p><%= end_user.comment %></p>
        </div>
      </div>
    </div>
  <% end %>

<script>
  $('#star-rate-<%= end_user.id %>').raty({
    size: 24,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= review.rate %>,
  });
</script>  