<h4 class="main-title"><%= @end_user.name %>のページ</h4>

<div class="container">
  <div class="side-content">
    <div class="side-profile-list profile-name">
      <%= image_tag @end_user.get_profile_image, size:"60x60" %><br>
      <%= @end_user.name %>
    </div>
    
    <div class="side-profile-list profile-follow">
      <%= link_to followings_end_user_path do %>
        <%= @end_user.followings.count %> follow
      <% end %>
        
      <%= link_to followers_end_user_path do %>
        <%= @end_user.followers.count %> follwer
      <% end %>
    </div>
    
    <div class="side-profile-list profile-body">
      <%= @end_user.body %>
    </div>
    
    <%= link_to "評価", reviews_path(@end_user) %>
    
    <% if @end_user == current_end_user %>
      <div class="side-profile-list profile-edit">
        <%= link_to "プロフィール編集", edit_end_user_path(@end_user) %>
      </div>
      <div class="side-profile-list profile-bookmark">
        <%= link_to "ブックマーク", bookmarks_path %>
      </div>
      <div class="side-profile-list profile-notification">
        <% if unchecked_notifications.any? %>
           <%= link_to "通知あり",notifications_path %>
        <% else %>
           <%= link_to "通知なし",notifications_path %>
        <% end %>
      </div>
    <% else %>
      <div class="follow_btn_<%= @end_user.id %> side-profile-list profile-follow-btn">
        <%= render "public/relationships/follow", end_user: @end_user %>
      </div>
      <div class="side-profile-list profile-notice">
        <%= link_to "通報する", new_end_user_notices_path(@end_user) %>
      </div>
    <% end %>
  </div>

  <div class="main-content">
    <h5>投稿一覧</h5>
    <% @rooms.each do |room| %>
      <div class="room-content">
          <div class="room-list">
            <%= link_to room.title, room_path(room) %>
          </div>
          <div class="room-list">
            <% if room.resolution_status == false %>
              未解決
            <% else %>
              解決済
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>