<h1 class="main-title">マイページ</h1>

<div class="container">
  <div class="side-content">
    <div>
      <%= image_tag @end_user.get_profile_image, size:"40x40" %>
      <%= @end_user.name %>
    </div>
    <% if @end_user == current_end_user %>
      <div>
        <%= @end_user.email %>
      </div>
      <div>
        <%= link_to "編集する", edit_end_user_path(@end_user) %>
      </div>
      <div>
        <%= link_to "ブックマーク", bookmarks_path %>
      </div>
      <div>
      <div class="notice-item">
        <% if unchecked_notifications.any? %>
           <%= link_to "お知らせ",notifications_path, class: "btn btn-light" %>
        <% else %>
           <%= link_to "お知らせ",notifications_path, class: "btn btn-dark" %>
        <% end %>
      </div>

      </div>
    <% else %>
      <%= link_to "通報する", new_end_user_notices_path(@end_user) %>
    <% end %>
  </div>

  <div class="main-content">
    <h5>投稿一覧</h5>
    <% @rooms.each do |room| %>
      <div class="room-content">
          <div class="room-list">
            <%= link_to room.title, room_path(room) %>
          </div>
          <div class="room-list">
            <% if room.resolution_status == false %>
              未解決
            <% else %>
              解決済
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>



