  <div class="responsive-search">
    <%= render 'public/rooms/search', q: @q %>
  </div>
  
  <div class="create">
    <%= link_to "ルーム作成", new_room_path %>
  </div>
  


  <% rooms.each do |room| %>
    <% if room.resolution_status == false %>
      <div class="room-content">
        <div class="room-list">
          <%= link_to room_path(room) do %>
            <%= room.title %><br>
            <span>投稿者：<%= room.end_user.name %></span>
          <% end %>
        </div>
        <div class="room-list">
          <i class="fas fa-comment-alt"></i>：<%= room.chats.count %>
        </div>
        <div class="room-list bookmark_btn_<%= room.id %>">
          <%= render 'public/bookmarks/bookmark', room: room %>
        </div>
      </div>
    <% end %>
  <% end %>
