<div class="room-create">
  <div class="room-create-content">
    <h2>ルーム編集</h2>
    <%= form_with model: @room, url: room_path, method: :patch do |f| %>
      <%= f.text_field :title %><br>
      <%= f.text_area :body %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name %><br>
      <%= f.radio_button :resolution_status, :false %>
      <%= f.label :"未解決" %>
      <%= f.radio_button :resolution_status, :true %>
      <%= f.label :"解決" %>
      <%= f.submit "ルーム編集" %>
    <% end %>
  </div>
</div>