<h1>編集画面</h1>
<%= form_with model: @room, url: room_path, method: :patch do |f| %>
  <%= f.label :タイトル %>
  <%= f.text_field :title %><br>
  <%= f.label :本文 %>
  <%= f.text_area :body %><br>
  <%= f.label :カテゴリ %>
  <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "選択してくだい" %><br>
  <%= f.radio_button :resolution_status, :false %>
  <%= f.label :"未解決" %>
  <%= f.radio_button :resolution_status, :true %>
  <%= f.label :"解決" %>
  <%= f.submit "ルーム編集" %>
<% end %>