<div class="form-create">
  <div class="form-create-content">
    <h4>ルーム編集</h4>
    <%= form_with model: @room, url: room_path, method: :patch do |f| %>
      <%= f.text_field :title %><br>
      <%= f.text_area :body %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name %><br>
      <div class="radio">
        <div>
          <%= f.radio_button :resolution_status, :false %>
          <%= f.label :"未解決" %>
        </div>
        <div>
          <%= f.radio_button :resolution_status, :true %>
          <%= f.label :"解決" %>
        </div>
      </div>
      <%= f.submit "ルーム編集" %>
    <% end %>
  </div>
</div>