<h1 class="main-title">ルーム一覧</h1>

<div class="container">
  <div class="side-content">
    <%= render 'admin/categories/index', categories: @categories %>
  </div>
  
  <div class="main-content">
    <div>
      <%= link_to "ルーム作成", new_room_path %>
    </div>
    
    <% @rooms.each do |room| %>
      <div class="room-content">
        <% if room.resolution_status == false %>
          <div class="room-list">
            <%= link_to room.title, room_path(room) %>
          </div>
          <div class="room-list">
            <%= room.end_user.name %>
          </div>
          <div class="room-list">
            <% if room.is_bookmarked_by?(current_end_user) %>
              <%= link_to "ブックマーク解除", room_bookmarks_path(room), method: :delete %>
            <% else %>
              <%= link_to "ブックマーク", room_bookmarks_path(room), method: :post %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>