<h1>ルーム一覧</h1>

<%= render 'admin/categories/index', categories: @categories %>

<div>
  <%= link_to "ルーム作成", new_room_path %>
  <%= link_to "解決一覧", resolution_path %>
</div>

<% @rooms.each do |room| %>
  <div>
    <% if room.resolution_status == false %>
      <%= link_to room.title, room_path(room) %>
      <%= room.end_user.name %>
    <% end %>
  </div>
<% end %>