<h1 class="main-title">解決一覧</h1>

<div class="container">
  <div class="side-content">
    <%= render 'admin/categories/index', categories: @categories %>
  </div>

  <div class="main-content">
    <% @rooms.each do |room| %>
      <% if room.resolution_status == true %>
        <div class="room-content">
          <div class="room-list">
            <%= link_to room.title, room_path(room) %>
          </div>
          <div class="room-list">
            <%= room.end_user.name %>
          </div>
          <div class="room-list">
            <i class="fas fa-comment-alt"></i>：<%= room.chats.count %>
          </div>
          <div class="room-list bookmark_btn_<%= room.id %>">
            <%= render 'public/bookmarks/bookmark', room: room %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
