<div class="room-show">

  <div class="show-content">
    <div class="category-list"><%= @room.category.name %></div>
    <h5 class="room-title"><small>タイトル：</small><%= @room.title %></h5>
    <p><%= @room.body %></p>
    <div class="room-time">
      投稿者：
      <%= link_to end_user_path(@room.end_user) do %>
        <%= @room.end_user.name %>
      <% end %>
      <% if @room.end_user_id == current_end_user.id %>
        <%= link_to edit_room_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <% unless @room.best_answer %>
          <%= link_to room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %><br>
      <span><%= @room.created_at.strftime("%Y/%m/%d %H:%M") %></span>
    </div>
  </div>

  <div class="comment-menu">
    <div class="comment-trigger">
      <i class="fas fa-pen-nib"></i>メッセージを送る
    </div>
    <div class="message-content">
      <%= form_with model:[@room, @chat], url: room_chats_path(@room), method: :post, local: false do |f| %>
        <%= f.text_area :message, rows:"5", class:"message" %>
        <%= f.submit "コメント" %>
      <% end %>
    </div>
  </div>

  <div class="chat_btn">
    <%= render 'public/chats/chat', locals: {chat: @chat, room: @room} %>
  </div>
</div>
