<div class="form-create">
  <div class="form-create-content">
    <h4>評価フォーム</h4>
      <%= form_with model:[@end_user, @review], url: end_user_reviews_path, method: :post do |f| %>
        <!-- 評価 -->
        <div class="review-rate" id="star">
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
      
        <!-- メッセージ -->
          <%= f.text_area :comment, class: "form-control", rows: "8", placeholder:'きちんとお礼を伝えましょう！' %>
          
          <%= f.submit '投稿する' %>

      <% end %>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function() {
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[rate]',
      half: true,
    });
  });
</script>