<h4 class="main-title">評価</h4>

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="review-container">
      <div class="review-side">
        <%= image_tag review.end_user.get_profile_image, size:"60x60" %>
        <%= review.end_user.name %>
      </div>
      <div class="review-main">
        <div class="review-content">

          <!--星評価-->
         <span id="star-rate-<%= review.id %>"></span>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 24,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>  
        <!--/星評価-->
          <span><%= review.rate %>点</span>

          <p><%= review.comment %></p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>評価はありません</p>
<% end %>
