<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="row posts">
      <div class="col-md-2 posts-user">
        <%= review.end_user.name %>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <h4 class="mb-3">評価：<%= review.rate %>点</h4>

          <!--星評価-->
         <div id="star-rate-<%= review.id %>"></div>
          <script>
          $('#star-rate-<%= review.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.rate %>,
          });
          </script>  
        <!--/星評価-->

          <p><%= review.comment %></p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>評価はありません</p>
<% end %>
