<div class="sign-up-content">
  <h2>新規登録</h2>

  <div class="sign-up-flex">
    <div class="prohibition">
      <h4>確認事項</h4>
      <ul>
        <li>1) 誹謗・中傷をするような投稿、コメントを禁ずる。</li>
        <li>2) SNS(twitter,LINE,instagram)の交換等の個人的交流を目的とした行為を禁ずる。</li>
        <li>3) ルーム内での荒らし行為を禁ずる。</li>
        <li>4) 上記内容を遵守すること。できない場合は強制退会処分とする</li>
      </ul>
    </div>

    <div class="sign-up">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.text_field :name, placeholder:"ニックネーム", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder:"メールアドレス", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder:"パスワード(6文字以上)", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder:"パスワード確認", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.check_box :agreement, :as => :boolean, checked:false %>
          <small>確認事項に同意する</small>
        </div>

        <div class="actions">
          <%= f.submit "登録する" %>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
