<h1 class="main-title">ブックマーク</h1>

<div class="container">
  <div class="side-content">
    <%= render 'admin/categories/index', categories: @categories %>
  </div>

  <div class="main-content">
    <% @rooms.each do |room| %>
      <% if room.is_bookmarked_by?(current_end_user) %>
        <div class="room-content">
          <div class="room-list">
            <%= link_to room.title, room_path(room) %>
          </div>
          <div class="room-list">
            <%= room.end_user.name %>
          </div>
          <div class="room-list">
            <i class="fas fa-comment-alt"></i>：<%= room.chats.count %>
          </div>

          <div class="room-list">
            <% if room.is_bookmarked_by?(current_end_user) %>
              <%= link_to room_bookmarks_path(room), method: :delete do %>
                <i class="fas fa-star delete"></i>
              <% end %>
            <% else %>
              <%= link_to room_bookmarks_path(room), method: :post do %>
                <i class="fas fa-star post"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



