<div class="notification">
  <h4>通知</h4>
    <%= link_to "全削除", notification_path(@notifications), method: :delete %>
    <div class="notification-content">
      <% if @notifications.exists? %>
        <% @notifications.each do |notification| %>
          <div class="notification-list">
          <!-- もし通知があれば以下を実行する -->
            <%= link_to end_user_path(notification.visiter) do %>
              <strong><%= notification.visiter.name %></strong>
              <!-- 通知を送っているユーザー名 -->
            <% end %>さんが
            <%= link_to room_path(notification.room_id) do %>
              <strong><%= notification.room.title %></strong>
            <% end %>にコメントしました。
            <%= "(#{time_ago_in_words(notification.created_at)}前)" %>
            <div>
              <% if notification.chat.present? %>
                <%= notification.chat.message %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p通知はありません</p>
      <% end %>
    </div>
</div>
