<div class="container mt-5">

  <div class="side-content">
    <h5>通報カテゴリ一覧</h5>
    <table class="table table-borderless">
      <tbody>
      <% @notices.each do |notice| %>
        <tr>
          <th><%= notice.name %></th>
          <td><%= link_to "編集", edit_admin_notice_path(notice) %></td>
          <td><%= link_to "削除", admin_notice_path(notice), method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="main-content">
    <h5>カテゴリ新規作成</h5>
    <%= form_with model: @notice, url: admin_notices_path, method: :post do |f| %>
      <%= f.text_field :name, placeholder:"通報カテゴリを入力" %>
      <%= f.submit "作成" %>
    <% end %>
  </div>
</div>

