<!DOCTYPE html>
<html>
  <head>
    <title>No Worries</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <div class="header-list">
        <div class="header-logo-menu">
          <% if end_user_signed_in? %>
            <%= link_to rooms_path do %>
              <%= image_tag "logo.jpg", class:"header-logo" %>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag "logo.jpg", class:"header-logo" %>
            <% end %>
          <% end %>
        </div>
        <div class=" header-menu">

          <div class="header-icon trigger">
            <%= image_tag "human.png", size: "32x32" %>
          </div>
          <ul class="drop-menu">
            <% if admin_signed_in? %>
            <li>
              <%= link_to "ユーザー一覧", admin_end_users_path %>
            </li>
            <li>
              <%= link_to "ルーム一覧", admin_rooms_path %>
            </li>
            <li>
              <%= link_to "カテゴリ一覧", admin_categories_path %>
            </li>
            <li>
              <%= link_to "通報一覧", admin_notices_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
            </li>
            <% else %>
              <% if end_user_signed_in? %>
              <li>
                <%= link_to "マイページ", end_user_path(current_end_user) %>
              </li>
              <li>
                <%= link_to "ルーム一覧", rooms_path %>
              </li>
              <li>
                <%= link_to "解決一覧", rooms_solution_path %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "ログイン", new_end_user_session_path %>
              </li>
              <li>
                <%= link_to "新規登録", new_end_user_registration_path %>
              </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <div class="container-all">
      <%= yield %>
    </div>
    <footer>
      <p>CopyRight No Worries</p>
    </footer>
  </body>
</html>
