<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>No Worries</h1>
    <% if end_user_signed_in? %>
      <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_end_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
